@import '../reset.less';

header {
    width: 100%;
    border: 0.5px solid rgba(105, 113, 162, 0.16);
    background: linear-gradient(150.75deg, rgba(4, 7, 29, 1) 16.657%, rgba(12, 14, 35, 1) 81.613%);
    padding: 15px 0;
    .container {
        width: 85%;
        margin: 0 auto;
        .flex_between;

        img { width: 90px; }

        .burger { display: none; cursor: pointer; font-size: 24px; color: white; }

        menu {
            display: flex;
            width: 40%;
            .flex_between;
            list-style: none;

            a { cursor: pointer; transition: 0.3s; color: white; }
            a:hover { color: @accent; }
        }
        div{
            display: flex;
            .btn{
                background: none;
                border: none;
                margin-right: 12px;
                font-size: 18px;
                padding: 10px;
                border-radius: 20px;
                transition: 0.3s;
            }
            .active{
                background: white;
                color: black;
            }
        }
    }
}

@media (max-width: 768px) {
    header {
        border-radius: 0;
        .container {
            width: 95%;
            position: relative;


            .burger {
                display: block;
                z-index: 1000;

            }



            menu {
                display: none;
                background: rgba(1, 4, 20, 0.98);
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 40px;
                z-index: 999;
                &.active {
                    display: flex;
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100dvh;
                    overflow: hidden;

                }

                li {
                    list-style: none;
                    a {
                        font-size: 24px;
                        font-weight: 600;
                    }
                }
            }
            .language {
                display: none;

                &.active {
                    display: flex;
                    position: fixed;
                    top: 30px;
                    left: 30px;
                    gap: 8px;
                    z-index: 1001;

                    .btn {
                        padding: 10px 14px;
                        font-size: 20px;
                    }
                }
            }

        }
    }
}


@media (max-width: 1130px) {
    header {
        border-radius: 0;

        .container {
            width: 95%;
            position: relative;

            .language{
                display: none;
            }
            .burger {
                display: block;
                z-index: 1000;
            }

            menu {
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                background: rgba(1, 4, 20, 0.98);
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 40px;
                z-index: 999;

                &.active {
                    display: flex;
                }

                li {
                    list-style: none;
                    a {
                        font-size: 24px;
                        font-weight: 600;
                    }
                }
            }
            .language {
                display: none;

                &.active {
                    display: flex;
                    position: fixed;
                    top: 30px;
                    left: 30px;
                    gap: 8px;
                    z-index: 1001;

                    .btn {
                        padding: 10px 14px;
                        font-size: 20px;
                    }
                }
            }   
        }
    }
}



