
@accent: #7c3aed;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
    color: white;
    font-family: Plus Jakarta Sans, sans-serif;
}

.flex_between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex_center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_block{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}



